body {
  margin: 0;
  padding: 0;
  background-color: rgba(12, 50, 97, 0.87);
}

h1 {
  border-bottom: 2px solid white;
  width:auto;
  color: White;
  background-color: black;
  padding: 10px;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;

}

input, button{
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px white;

}
